@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
.dashboard{
    width: 100%;
    height: 100vh;
    
   
}
h1{
    font-family: 'Girassol', cursive;
    color:#046582;
    text-align: center;
    margin: 1rem;
    font-size: 3rem;

}
.dashboard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

p{
    color: black;
}

